<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>railway</display-name>
  <welcome-file-list>
    <welcome-file>interface.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dup2</display-name>
    <servlet-name>Dup2</servlet-name>
    <servlet-class>railway.Dup2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dup2</servlet-name>
    <url-pattern>/Dup2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dup3</display-name>
    <servlet-name>Dup3</servlet-name>
    <servlet-class>railway.Dup3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dup3</servlet-name>
    <url-pattern>/Dup3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dup4</display-name>
    <servlet-name>Dup4</servlet-name>
    <servlet-class>railway.Dup4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dup4</servlet-name>
    <url-pattern>/Dup4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prevserv</display-name>
    <servlet-name>Prevserv</servlet-name>
    <servlet-class>railway.Prevserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prevserv</servlet-name>
    <url-pattern>/Prevserv</url-pattern>
  </servlet-mapping>
</web-app>